global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user root
    group root

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend localnodes
    bind 0.0.0.0:80
    mode http
    default_backend nodes


backend nodes
    mode http
    stats enable
    stats uri /haproxy?stats
    stats realm Strictly\ Private
    stats auth A_Username:YourPassword
    stats auth Another_User:passwd
    balance roundrobin
    option httpclose
    option forwardfor
    server lamp1 10.0.0.2:80 check
    server lamp2 10.0.0.3:80 check